
.comment{
    background-color: black;
    color: white;
    display: block;
}

.CMRow{
    background-color: white;
    display: inline;
}
.name{
    background-color: #cc3300;
    color: white;
    float: left;
    width: 30%;
}
.time{
     background-color: #003366;
    color: white;
    float: right;
    width: 70%;

}

.CMBody{
    background-color: white;
    color: black;
}

.link {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.link li{
    margin-top: 5px;
     display: block;
}
.link  li a {

    width: 100%;
    float: left;
    color: white;
    text-align: center;
    font-family: Arial;
    font-size: 30px;
    text-decoration: none;
    background-color: #333;
    color: white;
}

.link li a:hover {
color: pink;
background-color: white;
}

.main{
    background-color: #888888;
    width: 100%;
    margin-top:10px;
}
article{
    float: left;
    width: 75%;
    background-color: white;
}
aside{

    float: right;
    width: 23%;
    background-color:pink;
}
.links{
        height: 100%;
 background-color: #5E5694;
    font-size: 40px;
  color: white;
    padding: 5px;
    margin: 10px;
}


.title{
    width: 100%;
 background-color:  deeppink;
    font-size: 40px;
  color: white;
    margin: 0;
}

.post{
    width: 100%;
    background-color: gray;
    font-size: 30px;
    color: white;
    margin-top: 10px;
    display: block;
}

.post li{
    text-decoration: none;
    font-family: Arial;
    list-style-type: none;
}

.titlePost{
    margin-top: 10px;
    font-size:40px;
    color: white;
}
.bodyPost{
    font-size:20px;
    color: white;
    margin-left: 5px;
}
header{
    background-color: #222222;
    color: #eeeeee;
    text-align: center;
    height:80px;
}

p,h1{
    font-family: Arial;
}

.jumbotron {
     background-color: gray !important;

}

#form_login {
    display: block;
    margin-top: 30px;
}
#nameInput{

}