<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    <script src="{% static 'js/index.js' %}"></script>
</head>
<body>

    <header>
         <div class="">
             <button id="loginButtonInIndexHTML" class="btn btn-danger">LOGIN</button>
             <button id="logOutButtonInIndexHTML" class="btn btn-danger">LOGOUT</button>
             <button id="signupButtonInIndexHTML" class="btn btn-danger">SIGNUP</button>
         </div>
         <h1>Welcome to our site!</h1>
    </header>

  <nav class="navbar navbar-expand-lg navbar-light bg-light " >
  <a class="navbar-brand" href="#">Navbar</a>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Foods</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About Me</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" style="color: #cc3300" href="#">Disabled</a>
      </li>
    </ul>
  </div>
</nav>


    <div class="jumbotron">
        <p>
            Some text to enable scrolling.. Lorem ipsum dolor sit amet, illum definitiones no quo, maluisset concludaturque et eum, altera fabulas ut quo. Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert laboramus repudiandae nec et. Inciderint efficiantur his ad. Eum no molestiae voluptatibus.
            Some text to enable scrolling.. Lorem ipsum dolor sit amet, illum definitiones no quo, maluisset concludaturque et eum, altera fabulas ut quo. Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert laboramus repudiandae nec et. Inciderint efficiantur his ad. Eum no molestiae voluptatibus.
        </p>
    </div>
  <div class="container main">

      <article>
          <p class="title ">Posts</p>
          <div class="post" id="post">
              <ul>
                  <li class="titlePost"> </li>
                  <li  class="bodyPost"> </li>
                  <li class="comment">
                          <div class="CMRow">
                           <div class="name"> </div>
                           <div class="time"></div>
                          </div>
                          <div class="CMBody"></div>
                  </li>
              </ul>
          </div>
      </article>
      <aside>
    <p class="links">Links</p>
          <ul class=" link">
              <li ><a  href=" "> <p> link1 </p></a> </li>
              <li ><a  href=" "> <p> link1 </p></a> </li>
              <li ><a  href=" "> <p> link1 </p></a> </li>
              <li ><a  href=" "> <p> link1 </p></a> </li>
              <li ><a  href=" "> <p> link1 </p></a> </li>
          </ul>
      </aside>
  </div>

</body>
</html>