<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Post</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    <script src="{% static 'js/post_detail.js' %}"></script>
</head>
<body>
<div id="body" class="post container">
</div>
<div class="container" class="form-group">
    <p>name</p>
    <input type="text" name="name" id="nameInput" class="form-control">
    <p>email</p>
    <input type="email" name="email" id="emailInput" class="form-control">
    <p>comment</p>
    <textarea name="massage" id="commentTextarea" class="form-control"></textarea>
    <button type="submit" id="sendButton" class="btn btn-primary"  style="float: right">SEND</button>
</div>
</body>
</html>